  <section id="content-3-5" class="content-block content-3-5">
            <div class="container" id="boletin">
                <h2 style="display: block;"><br> Último boletín</h2>
                <div class="row">
                    <!-- Feature Box 1 -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="feature-box">
                            <div class="icon">
                                <span class="fa fa-calendar"></span>
                            </div>
                            <h3>Fecha</h3>
                            <p>{{bol.createdAt}}</p>
                        </div>
                    </div>
                    <!-- Feature Box 2 -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="feature-box">
                            <div class="icon">
                                <span class="fa fa-exclamation"></span>
                            </div>
                            <h3>Perfil de alerta</h3>
                            <p>{{bol.perfilDeAlerta}}</p>
                        </div>
                    </div>
                    <!-- Feature Box 3 -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="feature-box">
                            <div class="icon">
                                <span class="fa fa-clock-o"></span>
                            </div>
                            <h3>Tiempo de llegada a zona</h3>
                            <p>{{bol.tiempoLlegadaMinutos}}</p>
                            <p>{{bol.zonaGeografica.nombre}}</p>
                        </div>
                    </div>
                    <!-- Feature Box 4 -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="feature-box">
                            <div class="icon">
                                <span class="fa fa-arrow-up"></span>
                            </div>
                            <h3>Altura de la ola</h3>
                            <p>{{bol.alturaOla}}</p>
                        </div>

                </div>
                <!-- Row Ends -->
            </div>
            <!-- Container Ends -->
        </section>
 

<h2 class="form-title">Historial de boletines</h2>
 
<div class="panel panel-default">
    <!-- Default panel contents -->    
    <!-- Table -->
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Perfil de alerta</th>
            <th>Zona geográfica (Nombre)</th>
            <th>Tiempo de llegada (Minutos)</th>
            <th>Altura ola (m)</th>
            <th>Fecha</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="boletin in boletines | orderBy: 'id'">
            <td>{{boletin.id}}</td>
            <td>{{boletin.perfilDeAlerta}}</td>
            <td>{{boletin.zonaGeografica.nombre}}</td>
            <td>{{boletin.tiempoLlegadaMinutos}}</td>
            <td>{{boletin.alturaOla}}</td>
            <td>{{boletin.createdAt}}</td>
        </tr>
        </tbody>
    </table>
</div> 